In [29]:
import pandas as pd
import boto3

LEADERBOARD_COLUMNS = [
    "model_name",
    "total_score",
    "section_f1_score",
    "section_mape_score",
    "total_cost_score",
    "material_grouping_score",
    "labor_grouping_score"
]

session = boto3.Session(profile_name='personal-account')

s3 = session.client('s3')
data = []
for obj in s3.list_objects(Bucket='norm-evaluator')["Contents"]:
    print(obj["Key"])
    if obj["Key"].endswith('.json'):
        s3.download_file('norm-evaluator', obj["Key"], obj["Key"])
        data.append(pd.read_json(obj["Key"], orient='index').T)

2.json
4.json
5.json
7.json

In [30]:
data[0]

,model_name,total_score,section_f1_score,section_mape_score,total_cost_score,material_grouping_score,labor_grouping_score
0,2.0,0.673335,0.84345,0.366401,0.947752,0.526756,0.577236

In [33]:
df = pd.concat(data, ignore_index=True)

In [34]:
df

,model_name,total_score,section_f1_score,section_mape_score,total_cost_score,material_grouping_score,labor_grouping_score
0,2.0,0.673335,0.843450,0.366401,0.947752,0.526756,0.577236
1,4.0,0.730302,0.865096,0.515522,0.952727,0.554302,0.613772
2,5.0,0.730382,0.868012,0.510979,0.960004,0.520231,0.634615
3,7.0,0.651117,0.803938,0.330067,0.969040,0.489170,0.516807

In [ ]:
s3.upload_file(